<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.frappe.frappeauthenticator"
          android:versionCode="1"
          android:versionName="1.0">

    <application
            android:label="@string/app_name"
            android:icon="@drawable/frappe">

        <!-- *** Not really needed here, but convenient for copying to other apps that will use this module *** -->
        <activity android:name="io.frappe.frappeauthenticator.authenticator.AuthenticatorActivity"/>
        <service android:name="io.frappe.frappeauthenticator.authenticator.FrappeAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/authenticator" />
        </service>

    </application>

    <!-- *** Not really needed here, but convenient for copying to other apps that will use this module *** -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
</manifest>